{% extends '../base.html' %}
{% load static %}
{% load parse_date split_get_last %}

{% block content %}
<div class="row pt-3">
    <div class="col-md-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">{{ article.title }}</h2>
            <div class="blog-post-meta row">
                {{ article.published|parse_date|date:"M. d, Y, h:i A" }}
                {% if favorite %}
                    <i class="fa fa-bookmark pl-5"></i>
                {% else %}
                    <!-- Quick dirty way to get the favorite action working, definitely need to refactor.
                    I chose to make this a post request because we're making a change on the database layer.
                    A get request just wouldn't seem right, semantically.-->
                    <form
                        action="{% url 'create-favorite' article.id|split_get_last:'/' %}"
                        method="POST"
                        name="favoriteForm"
                    >
                        {% csrf_token %}
                        <a href="#" onClick="document.favoriteForm.submit()">
                            <i class="far fa-bookmark pl-5" id="favorite-article"></i>
                        </a>
                    </form>
                    <!-- End favorite action hack-->
                {% endif %}
            </div>
            <p>{{ article.summary|safe }}</p>
            <div class="row">
                <div class="p-3">
                    <h4 class="font-italic">Authors</h4>
                    <ol class="list-unstyled mb-0">
                        {% for author in article.authors %}
                            <li><a href="{% url 'single-author' author %}">{{ author }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="p-3">
                    <h4 class="font-italic">Tags</h4>
                    <ol class="list-unstyled mb-0">
                        {% for tag in article.tags %}
                            <li>{{ tag.term }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div><!-- /.blog-post -->
    </div>

    <aside class="col-md-4 blog-sidebar">
        <div class="p-3">
            <h4 class="font-italic">ArXiv Comment</h4>
            <p>{{ article.arxiv_comment }}</p>
        </div>

        <div class="p-3">
            <h4 class="font-italic">Links</h4>
            <ol class="list-unstyled">
                <li><a href="{{ article.pdf_url }}">PDF</a></li>
                <li><a href="{{ article.arxiv_url }}">ArXiv</a></li>
            </ol>
        </div>
    </aside><!-- /.blog-sidebar -->
</div><!-- /.row -->
{% endblock %}
